:root {
    --color-dark-100: #131313;
    --color-dark-200: #232323;
    --color-dark-300: #373737;
    --color-dark-500: #575757;

    --color-light-200: #f3f3f3;

    --color-danger-100: #cf3737;
}
